body,
html {
    margin: 0px;
    padding: 0px;
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 1.5;
}
.size {
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width:1200px) {
    .banner,
    .header,
    .footer {
        width: 1200px;
    }
}

/* header */
.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav>ul {
    list-style-type: none;
    display: flex;
}

.header .nav>ul>li {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.header .nav>ul>li>a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width:80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.header .nav>ul>li .active{
    background-color: #004995;
    color:#fff;
    border-radius: 4px;
}

/* .header .nav>ul>li>a:link,
.header .nav>ul>li>a:visited {
    color: black;
}

.header .nav>ul>li>a:hover,
.header .nav>ul>li>a:active {
    color: #92141e;
} */

/* footer */
.footer {
    background-color: #535353;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 20px 0px;
}

.footer .footer-nav {
    width: 1200px;
    margin: 0 auto;
}

.footer .footer-nav ul {
    display: flex;
    list-style-type: none;
}

.footer .footer-nav li {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.footer .footer-qrCode {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.footer .footer-qrCode .right {
    margin-left: 10px;
}

/* 轮播图 */
.banner{
    position: relative;
    overflow: hidden;
}
.banner ul{
    list-style: none;
    padding:0px;
    margin:0px;
}
.banner ul li img{
    width:100%;
}
.banner .disActive{
    display: none;
}
.banner .pagination{
    position: absolute;
    bottom: 20px;
    width:200px;
    left: 50%;
    margin-left: -100px;
    display: flex;
}
.banner .pagination .pagination-line{
    width:50px;
    height: 5px;
    background-color: #c9c3c5;
    margin-left: 10px;
    cursor: pointer;
}

/* server */
.service{
    position: relative;
}

.service .content {
    display: flex;
    flex-wrap: wrap;
}

.service .content .item {
    width: 300px;
    text-align: center;
    margin-top: 20px;
    cursor:pointer;
}
.service .content .item:link,.service .content .item:visited{
    color:black;
    text-decoration: none;
}
.service .content .item:hover,.service .content .item:active{
    color:gray;
    text-decoration: underline;
}
.service .content .item .img{
    transition: all 1s;
}
.service .content .item .img img:hover{
    opacity: 0.8;
}

.service .content .item>div:first-child{
    margin-bottom: 10px;
}

.service .content .item .introduce {
    width: 242px;
}

.service .content .item .introduce h3 {
    text-align: center;
    line-height: 1.5;
}

/* 左右布局 */
.layout{
    display: flex;
}
.layout .left{
    margin-right: 20px;
}
.layout .right{
    width: 100%;
}
.layout .right .title{
    color:#92141e;
    border-bottom: 2px solid black;
}

/* 位置 */
.position{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.position a:link,.position a:visited{
    text-decoration: none;
    color:#808080;
}
.position a:hover,.position a:active{
    text-decoration: underline;
    color:#92141e;
}

/* 案例 */
.case p{
    text-indent: 2em;
}

/* 个人简介 */
.person{
    display: flex;
    align-items: center;
    justify-content:center;
}
.person .left{
    background-color: #e5ecf4;
    width: 450px;
    height: 150px;
    position: relative;
    margin-top: 280px;
    margin-right: 50px;
}
.person .left .directory{
    width:300px;
    transform: rotate(90deg);
    position: absolute;
    left: -80px;
    top:-40px;
    font-weight: bold;
}
.person .left .directory .line{
    display: inline-block;
    width:200px;
    margin-left: 10px;
    margin-bottom:4px;
    border-top: 1px solid black;
    border-bottom:1px solid black;
}
.person .left .avatar{
    width:300px;
    height: 350px;
    background-color:#004995;
    position:absolute;
    bottom: 40px;
    right: 30px;
}

/* form */
.form{
    font-size: 16px;
    text-align: center;
}
.form .form-item{
    margin:20px 0;
}
.form .form-item input{
    width:500px;
    height: 40px;
}
.form .form-item textarea{
    width:500px;
    height: 180px;
}
.form .form-item:last-child{
    display: flex;
    align-items:flex-start;
}